.class2
{
    text-align: center;
    background-color: burlywood;
}
.class2 a
{
    text-decoration: none;
    color: brown;
    text-decoration: solid;
    font-size: large;
}
.class2 :hover
{
    cursor: pointer;
    color: black;
    text-decoration: wavy;
}
.class1
{
    background-color: brown;
    color: white;
    text-align: center;
}

.class3 {
    position: relative;
    display: inline-block;
}

.class3 button {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    font-size: large;
    background-color: burlywood;
    color: aliceblue;
    animation: bouncing 0.5s ease 0s infinite alternate both;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    font-size: 0.75em;
    font-weight: 300;
    letter-spacing: 0.2em;
    padding: 1em 2em 1.1em;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: top;
    margin-top: 0; 
}

@keyframes bouncing {
    0% {
        transform: translateY(-50%) translateX(-10%);
    }
    100% {
        transform: translateY(-50%) translateX(10%);
    }
}

.class3 img {
    display: block;
}

.class3 button:hover
{
    cursor: pointer;
    border-radius: 10px;
    background-color: brown;
}

